.archive{
  .section_ttl{
    margin-bottom: 30px;
  }
  .archive_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .archive_list_items{
      width: 250px;
      margin-bottom: 29px;
    }
    .archive_list_image{
      width: 100%;
      height: 140px;
    }
    .archive_text_wrapper{
      background: #fff;
      height: 120px;
      padding: 15px;
      .archive_list_date{
        color: #666;
        font-size: 12px;
        text-align: start;
        line-height: 21px;
      }
      .archive_list_ttl{
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        text-align: start;
      }
    }
  }
  .pager{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  .current{
    @include pager();
  }
  .page, .nextpostslink,.previouspostslink{
    @include pager(transparent, #1a1a1a);
  }
  .first,.last{
    display: flex;
    align-items: center;
    height: 27px;
    margin: 0 3px 0;
  }

  .page:hover,
  .nextpostslink:hover,
  .previouspostslink:hover{
    opacity: 0.8;
  }
}

.archive_schedule{
  margin-bottom: 60px;
}